<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   <!-- <add name="DBCS" connectionString="Data Source=GHOST;Initial Catalog=motor;Integrated Security=True" />-->
    <add name="DBCS" connectionString="server=localhost;user id=root;database=motor" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BrandServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53398/BrandService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BrandServiceSoap"
                contract="Services.BrandServiceSoap" name="BrandServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
